*.class

# Package Files #
*.jar
*.war
*.ear
.metadata
Diagrammes/Espace de travail.sws
IntraPoste.rar
IntraPoste/.settings
IntraPoste/build
Libs/
Logiciels annexes
Servers/.project
Servers/.settings/org.eclipse.wst.server.core.prefs
Servers/Tomcat v6.0 Server at localhost-config/catalina.policy
Servers/Tomcat v6.0 Server at localhost-config/catalina.properties
Servers/Tomcat v6.0 Server at localhost-config/context.xml
Servers/Tomcat v6.0 Server at localhost-config/server.xml
Servers/Tomcat v6.0 Server at localhost-config/tomcat-users.xml
Servers/Tomcat v6.0 Server at localhost-config/web.xml
bdd.sql
projetJ2EE_2012_ING2.pdf
IntraPosteServlet/hs_err_pid6668.log
RemoteSystemsTempFiles/.project
IntraPoste/.tomcatplugin
*.orig
IntraPoste/WebContent/WEB-INF/jquery/
