<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>IntraPosteServlet</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <taglib>
      <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
      <taglib-location>/WEB-INF/tld/c.tld</taglib-location>
    </taglib>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilAgentGuichetServlet</display-name>
    <servlet-name>AccueilAgentGuichetServlet</servlet-name>
    <servlet-class>agentguichet.AccueilAgentGuichetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilAgentGuichetServlet</servlet-name>
    <url-pattern>/AccueilAgentGuichetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListeRegularisationsServlet</display-name>
    <servlet-name>ListeRegularisationsServlet</servlet-name>
    <servlet-class>regularisation.ListeRegularisationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeRegularisationsServlet</servlet-name>
    <url-pattern>/ListeRegularisationsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegulariserServlet</display-name>
    <servlet-name>RegulariserServlet</servlet-name>
    <servlet-class>regularisation.RegulariserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegulariserServlet</servlet-name>
    <url-pattern>/RegulariserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/DeconnexionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccueilAgentComptableServlet</display-name>
    <servlet-name>AccueilAgentComptableServlet</servlet-name>
    <servlet-class>agentcomptable.AccueilAgentComptableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccueilAgentComptableServlet</servlet-name>
    <url-pattern>/AccueilAgentComptableServlet</url-pattern>
  </servlet-mapping>
</web-app>